.banner {
  position: relative;
}

.social {
  position:absolute;
  display:inline-block;
  bottom:0;
  right:300px;

  li{
    display:inline-block;   
  }
  p {
    display:inline-block;
    color:white;
  }
}


